.loading-overlay {
	display:    none;
	position:   fixed;
	z-index:    1000;
	top:        0;
	left:       0;
	height:     100%;
	width:      100%;
	background: rgba( 255, 255, 255, .8 )
	url('/wp-includes/images/spinner-2x.gif')
	50% 50%
	no-repeat;
}

body.loading .loading-overlay {
	overflow: hidden;
}

body.loading .loading-overlay {
	display: block;
}

table {
	border: 1px solid #c3c4c7;
	box-shadow: 0 1px 1px rgba(0,0,0,.04);
	background: #fff;
}

.form-table td,
.form-table th {
	padding: 2em;
	color: #3c434a;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
	font-size: 13px;
	line-height: 1.4em;
	min-height:252px;
}

.form-table td p.description {
	font-size: 13px;
	margin: 2px 0 5px;
	color: #646970;
	max-width: 650px;
}

.form-table tr:nth-child(2n) th,
.form-table tr:nth-child(2n) td {
  background: #fcfcfc;
}

.button.button-large {
	float:right;
}
