# Directories
/.git export-ignore
/.github export-ignore

# Files
/.* export-ignore
/README.md export-ignore
/CLAUDE.md export-ignore
/AGENTS.md export-ignore
/phpcs.xml.dist export-ignore

# Test suite
/tests export-ignore
/package.json export-ignore
/package-lock.json export-ignore
/node_modules export-ignore
