.loading-overlay {
	display:    none;
	position:   fixed;
	z-index:    1000;
	top:        0;
	left:       0;
	height:     100%;
	width:      100%;
	background: rgba( 255, 255, 255, .8 )
	url('/wp-includes/images/spinner-2x.gif')
	50% 50%
	no-repeat;
}

body.loading .loading-overlay {
	overflow: hidden;
}

body.loading .loading-overlay {
	display: block;
}

table {
	border: 1px solid #c3c4c7;
	box-shadow: 0 1px 1px rgba(0,0,0,.04);
	background: #fff;
}

.form-table td,
.form-table th {
	padding: 2em;
	color: #3c434a;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
	font-size: 13px;
	line-height: 1.4em;
	min-height:252px;
}

.form-table td p.description {
	font-size: 13px;
	margin: 2px 0 5px;
	color: #646970;
	max-width: 650px;
}

.form-table tr:nth-child(2n) th,
.form-table tr:nth-child(2n) td {
  background: #fcfcfc;
}

.button.button-large {
	float:right;
}

p {
	max-width: 650px;
	color: #3c434a;
}

p.info {
	padding: 25px;
	border: 1px solid #ccc;
	box-shadow: 0 1px 1px rgba(0,0,0,.04);
	background: white;
}

input[type="checkbox"].safety-net-pause-renewal-actions-toggle {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-tap-highlight-color: transparent;
    width: auto;
    height: auto;
    vertical-align: middle;
    position: relative;
    border: 0;
    outline: 0;
    cursor: pointer;
    margin: 0 4px;
    background: none;
    box-shadow: none;
}

input[type="checkbox"].safety-net-pause-renewal-actions-toggle:focus {
    box-shadow: none;
}

input[type="checkbox"].safety-net-pause-renewal-actions-toggle:after {
    content: '';
    font-size: 8px;
    font-weight: 400;
    line-height: 18px;
    text-indent: -14px;
    color: #ffffff;
    width: 56px;
    height: 18px;
    display: inline-block;
    background-color: #a7aaad;
    border-radius: 72px;
    box-shadow: 0 0 12px rgb(0 0 0 / 15%) inset;
}

input[type="checkbox"].safety-net-pause-renewal-actions-toggle:before {
    content: '';
    width: 14px;
    height: 14px;
    display: block;
    position: absolute;
    top: 2px;
    left: 2px;
    margin: 0;
    border-radius: 50%;
    background-color: #ffffff;
}

input[type="checkbox"].safety-net-pause-renewal-actions-toggle:checked:before {
    left: 40px;
    margin: 0;
    background-color: #ffffff;
}

input[type="checkbox"].safety-net-pause-renewal-actions-toggle,
input[type="checkbox"].safety-net-pause-renewal-actions-toggle:before,
input[type="checkbox"].safety-net-pause-renewal-actions-toggle:after,
input[type="checkbox"].safety-net-pause-renewal-actions-toggle:checked:before,
input[type="checkbox"].safety-net-pause-renewal-actions-toggle:checked:after {
    transition: ease .15s;
}

input[type="checkbox"].safety-net-pause-renewal-actions-toggle:checked:after {
    content: 'PAUSED';
    background-color: #2271b1;
}